html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.nav-container > * {
  margin-left: 120px;
  margin-bottom: 0;
}

h1,h2,h3 {
  /* margin: 1rem; */
  font-weight: 200;
}
a, a:visited {
  color: green;
}

@media(prefers-reduced-motion) {
  body {
    background-image: none;
  }
}

.home-link {
  text-decoration: none;
}

.nav-container {
  width: 25%;
}

main {
  width: 75%;
  display: flex;
  align-items: center;
  background: rgba(0,255,0,0.25)
}

main > *:first-of-type {
  /* margin-left: 100px; */
  overflow: hidden;
}

body {
  display: flex;
}

.slider {
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  animation: 5s infinite keepsliding;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes keepsliding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slider .item {
  width: 250px;
  height: 200px;
  /* display: inline-block; */
  margin-right: 20px;
}