.offer__container {
  max-width: 400px;
  border: 1px solid ivory;
  margin: 0 auto;

  /* flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 0 20px;
}

.offer__price {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.offer__description {
  text-align: left;
}
