.master-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 40px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-text {
  font-size: 2.5rem;
}

.hero-tagline {
  font-style: italic;
}

.description {
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .hero-text {
    font-size: 3.75rem;
  }
}

.rotating-lesson,
.rotating-interest {
  font-weight: bold;
}

.inline-address {
  display: inline;
  font-style: normal;
}

@media (max-width: 450px) {
  .rotating-interest {
    display: block;
  }
}

.disabled-link {
  font-style: italic;
  text-decoration: line-through;
  margin-right: 0.25rem;
}

.home__resume-accordion {
  margin-bottom: 40px;
}
