.master-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-container .flex-item {
  flex-basis: 800px;
  padding: 20px;
}

.hero-text {
  font-size: 3.75rem;
  margin-top: 0;
}

/* small screens */
@media (max-width: 800px) {
  .master-container {
    max-width: 96%;
  }

  .hero-text {
    font-size: 3rem;
  }
}

/* large screens */
@media (min-width: 1400px) {
  .master-container {
    max-width: 1000px;
  }
}

.rotating-lesson,
.rotating-interest {
  font-weight: bold;
}

.inline-address {
  display: inline;
}
