.master-container {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 75px;
}

.hero-text {
  font-size: 3.75rem;
  margin-top: 0;
}

/* small screens */
@media (max-width: 800px) {
  .master-container {
    max-width: 96%;
  }

  .hero-text {
    font-size: 3rem;
  }
}

/* large screens */
@media (min-width: 1400px) {
  .master-container {
    max-width: 1000px;
  }
}
