.project-image {
  max-width: 100%;
}

.tag-container {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tag-container > .tag {
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid ivory;
  border-radius: 5px;
  padding: 5px;
}
